page-login {
 
	.login-content {
		background: color($colors, white);

		.logo-row {
			padding-top: 50px;
			padding-bottom: 20px;
		}

		.login-box {
			background: color($colors, primary);
			padding: 20px 20px 0px 20px;
			margin-top: 30px;
			border: 2px solid #000;
		}

		ion-row {
			align-items: center;
			text-align: center;
		}

		ion-item {
// 			border-radius: 30px !important;
			padding-left: 30px !important;
			font-size: 0.9em;
			margin-bottom: 10px;
// 			border: 2px solid #000000;
// 			border-bottom: 2px !important;
			box-shadow: none !important;
		}

		.signup-col {
			margin: 0px 16px 0px 16px;
			padding-bottom: 20px;
		}

		.item-inner {
			border-bottom-color: #000 !important;
// 			border: 2px solid #000000;
			box-shadow: none !important;
		}

		.submit-btn {
			background: color($colors, secondary);
// 			border-radius: 30px !important;
			border: 1px solid #000;
		}

		.register-btn {
			border: 2px solid #000;
			color: #ffffff;
			font-size: 0.8em;
		}
	}

}
