<!--
  Generated template for the ConstructionsiteReportEventPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Vorkommnis melden</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<form (ngSubmit)="submitEvent()" #registerForm="ngForm">
		<ion-list>

			<ion-item>
				<ion-label>Typ</ion-label>
				<ion-select [(ngModel)]="event.type" multiple="false" name="eventType" required>
					<ion-option *ngFor="let eventType of event.getAvailableEventTypes()" [value]="eventType">{{
						event.getEventTypeString(eventType) }}</ion-option>
				</ion-select>
			</ion-item>

			<ion-item>
				<ion-label color="tertiary" floating>Titel</ion-label>
				<ion-input type="text" [(ngModel)]="event.title" name="title" required></ion-input>
			</ion-item>

			<ion-item>
				<ion-label color="tertiary" floating>Beschreibung</ion-label>
				<ion-input type="text" [(ngModel)]="event.description" name="description" required></ion-input>
			</ion-item>

		</ion-list>

		<!-- for forms, remember: always present type of each component! -->
		<button ion-button type="button" large (click)="presentCameraActionSheet()">
			Bild hinzuf&uuml;gen
		</button>

		<ion-list> <!-- *ngIf="report.imageFiles.length>0"-->
			<ion-list-header>
				Hinzugef&uuml;gte Bilder
			</ion-list-header>
			<ion-item *ngFor="let image of event.getImageFiles()" class="item-photo">
				<img src={{image.getBase64Path()}} class="item-img"/>
				<button ion-button type="button" large (click)="viewImage()" item-end><ion-icon name="eye"></ion-icon></button>
				<button ion-button type="button" large (click)="deleteImage()" item-end><ion-icon name="trash"></ion-icon></button>
			</ion-item>
		</ion-list>


		<button ion-button class="submit-btn" large type="submit" [disabled]="!registerForm.form.valid">
			Vorkommnis melden
		</button>

	</form>

</ion-content>
