<!--
  Generated template for the ConstructionsiteReportDamagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
	  <ion-title>Neue Schadensmeldung für {{ item.getName() }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<form (ngSubmit)="submitDamageReport()" #registerForm="ngForm">
		<ion-list>

			<!--
			<ion-item>
				<ion-label>Ger&auml;t</ion-label>
				<ion-select [(ngModel)]="report.item" multiple="false" name="item" required>
					<ion-option *ngFor="let item of consiteProv.getEquipmentItemListArray()" [value]="item">{{
						item.name }}</ion-option>
				</ion-select>
			</ion-item>
// 			-->


			<ion-item>
				<ion-label color="tertiary" floating>Titel</ion-label>
				<ion-input type="text" [(ngModel)]="report.title" name="title" required></ion-input>
			</ion-item>

			<!--
			<ion-item>
				<ion-label color="tertiary" floating>Beschreibung</ion-label>
				<ion-input type="text" [(ngModel)]="report.description" name="description" required></ion-input>
			</ion-item>
			-->

		</ion-list>

		<!--IMAGES-->
		<button ion-button type="button" large (click)="presentCameraActionSheet()">
			Bild hinzuf&uuml;gen
		</button>
		<ion-list> <!-- *ngIf="report.imageFiles.length>0"-->
			<ion-list-header>
				Hinzugef&uuml;gte Bilder
			</ion-list-header>
			<ion-item *ngFor="let image of report.getImageFiles()">
				<img src={{image.getBase64Path()}} class="item-img"/>
				<button ion-button type="button" large (click)="viewImage()" item-end><ion-icon name="eye"></ion-icon></button>
				<button ion-button type="button" large (click)="deleteImage()" item-end><ion-icon name="trash"></ion-icon></button>
			</ion-item>
		</ion-list>

		<!--AUDIO-->
		<button ion-button type="button" large (click)="recordAudio()">
			Sprachnachricht hinzuf&uuml;gen
		</button>
		<ion-list> <!-- *ngIf="report.imageFiles.length>0"-->
			<ion-list-header>
				Hinzugef&uuml;gte Sprachnachrichten
			</ion-list-header>
			<ion-item *ngFor="let audioFile of report.audioFiles" class="audio">
				<button ion-button type="button" large (click)="playAudio(audioFile)" item-start>
					<ion-icon name="play"></ion-icon>
				</button>
				{{audioFile.name}}
				<button ion-button type="button" large (click)="deleteAudio(audioFile)" item-end>
					<ion-icon name="trash"></ion-icon>
				</button>
			</ion-item>
		</ion-list>

		<!--SUBMIT-->
		<ion-list> <!-- *ngIf="report.imageFiles.length>0"-->
			<ion-list-header>
				Aktionen
			</ion-list-header>
			<ion-item>
				<button ion-button class="submit-btn" large type="submit" [disabled]="!registerForm.form.valid">
					Schaden melden
				</button>
			</ion-item>
		</ion-list>

	</form>

</ion-content>
