<!--
  Generated template for the ConstructionsiteOverviewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
	  <!--
<ion-header>

  <ion-navbar>
    <ion-title>constructionsite-overview</ion-title>
  </ion-navbar>

</ion-header>
	  -->


<ion-content padding>
	<ion-grid class="grid-header">
		<ion-row>
			<ion-col>
				<ion-card color="primary" class="card_header"> <!--CARD: HEADER{{{-->
					<ion-card-header>
						<ion-grid>
							<ion-row nowrap align-content-center>
								<ion-col col-10 class="col_header">
									<h2 *ngIf="auth.isLoggedIn()">Baustelle {{consiteProv.constructionsite.id}}; User: {{auth.getUserInfo().surname}}
									{{auth.getUserInfo().name}} </h2>
								</ion-col>
								<ion-col class="col_header">
									<button ion-button (click)="presentLogoutActionSheet()"><ion-icon name="log-out"></ion-icon></button>
								</ion-col>
							</ion-row>
						</ion-grid>
						
						<!--
						{{ consiteProv.constructionsite.description }}
						-->
					</ion-card-header>

						<!--
					<ion-card-content>
						<p> Ort: {{consiteProv.location.town }}, {{consiteProv.location.country }}</p>
					</ion-card-content>
						-->
				</ion-card> <!--}}}-->
			</ion-col>
		</ion-row>
	</ion-grid>

	<ion-grid class="grid-cards">
		<ion-row>
			<ion-col *ngIf="false">
				<ion-card (click)="openWorkersPage()"> <!--CARD: PERSONAL{{{-->
					<ion-card-header>
						Personal	
					</ion-card-header>
					<ion-card-content>
						<ion-grid>
							<ion-row nowrap>
								<ion-col>
									Polier:
								</ion-col>
								<ion-col>
									{{consiteProv.workers.getPresentPolierCount()}}
								</ion-col>
							</ion-row>

							<ion-row nowrap>
								<ion-col>
									Maschinist:
								</ion-col>
								<ion-col>
									{{consiteProv.workers.getPresentMaschinistCount()}}
								</ion-col>
							</ion-row>

							<ion-row nowrap>
								<ion-col>
									Facharbeiter:
								</ion-col>
								<ion-col>
									{{consiteProv.workers.getPresentFacharbeiterCount()}}
								</ion-col>
							</ion-row>

							<!--
							<ion-row nowrap>
								<ion-col>
									Hilfsarbeiter:
								</ion-col>
								<ion-col>
									{{consiteProv.workers.getPresentHilfsarbeiterCount()}}
								</ion-col>
							</ion-row>
							-->
							<ion-row nowrap>
								<ion-col>
									Azubis:
								</ion-col>
								<ion-col>
									{{consiteProv.workers.getPresentAzubiCount()}}
								</ion-col>
							</ion-row>


							<ion-row nowrap>
								<ion-col>
									Gesamt:
								</ion-col>
								<ion-col>
									{{consiteProv.workers.getPresentWorkersCount()}}
								</ion-col>
							</ion-row>

						</ion-grid>
					</ion-card-content>
				</ion-card>
				<!--}}}-->
			</ion-col> 
			<ion-col> 
				<!--CARD: GERAETE{{{-->
				<ion-card (click)="openEquipmentPage()">
					<ion-card-header>
						Ger&auml;te	
					</ion-card-header>
					<ion-card-content>

						<ion-row nowrap>
							<ion-col>
								Rammen:
							</ion-col>
							<ion-col>
								{{consiteProv.equipment.getRamCount()}}
							</ion-col>
						</ion-row>

						<ion-row nowrap>
							<ion-col>
								Kr&auml;ne:
							</ion-col>
							<ion-col>
								{{consiteProv.equipment.getCraneCount()}}
							</ion-col>
						</ion-row>

						<ion-row nowrap>
							<ion-col>
								Pumpen:
							</ion-col>
							<ion-col>
								{{consiteProv.equipment.getPumpCount()}}
							</ion-col>
						</ion-row>

						<ion-row nowrap>
							<ion-col>
								Andere:
							</ion-col>
							<ion-col>
								{{consiteProv.equipment.getOtherCount()}}
							</ion-col>
						</ion-row>
						<p>Schadensmeldungen: {{consiteProv.getNumDamageReports()}}</p>
					</ion-card-content>
				</ion-card> <!--}}}-->
			</ion-col>
			<!--CARD: WEATHER{{{
			<ion-col>
				<ion-card (click)="openWeatherPage()"> 
					<ion-card-header>
						Wetter
					</ion-card-header>
					<ion-card-content>
						<ion-grid>
							<ion-row nowrap>
								<ion-col>
									Bericht f&uuml;r {{consiteProv.weather.date}}, {{consiteProv.weather.time}}
									Uhr:
								</ion-col>
							</ion-row>

							<ion-row nowrap>
								<ion-col>
									Temperatur:
								</ion-col>
								<ion-col>
									{{consiteProv.weather.getTemperature()}} &deg;C
								</ion-col>
							</ion-row>

							<ion-row nowrap>
								<ion-col>
									Niederschlag:
								</ion-col>
								<ion-col>
									{{consiteProv.weather.getPrecipitation()}} mm
								</ion-col>
							</ion-row>

							<ion-row nowrap>
								<ion-col>
									Wolkenbedeckung:
								</ion-col>
								<ion-col>
									{{consiteProv.weather.getCloudcover()}} %
								</ion-col>
							</ion-row>

							<ion-row nowrap>
								<ion-col>
									Wind:
								</ion-col>
								<ion-col>
									{{consiteProv.weather.getWindSpeedAvg()}} km/h bis
									{{consiteProv.weather.getWindSpeedMax()}} km/h (max.)
								</ion-col>
							</ion-row>


						</ion-grid>
					</ion-card-content>
				</ion-card> 
			</ion-col>
			}}}-->
			<ion-col>
				<!--CARD: PHOTOSEITE{{{-->
					<ion-card (click)="openPhotoPage()"> 
						<ion-card-header>
							Foto	
						</ion-card-header>
						<ion-card-content text-center>
						<!--
							<ion-icon name="camera" style="font-size:40px;"></ion-icon>
							<p>Foto zu Baustelle</p>
							<p>Foto zu Ger&auml;t</p>
						-->
						</ion-card-content>
					</ion-card> 
					<!--}}}-->
			</ion-col>
			<ion-col>
				<!--CARD: DAILY REPORT{{{-->
					<ion-card (click)="openDailyReport()"> 
						<ion-card-header>
							Tagesbericht
						</ion-card-header>
						<ion-card-content>
							<!--
							<p>Tagesbericht</p>
							-->
						</ion-card-content>
					</ion-card> 
					<!--}}}-->
			</ion-col>
			<ion-col>
				<!--CARD: CONTACTS{{{-->
					<ion-card (click)="openContactsPage()"> 
						<ion-card-header>
							Kontakte	
						</ion-card-header>
						<ion-card-content>
							<!--
							<p>card content</p>
							-->
						</ion-card-content>
					</ion-card> 
					<!--}}}-->
			</ion-col>
			<ion-col>
				<ion-card (click)="openEventsPage()"> <!--CARD: BERICHTE{{{-->
					<ion-card-header>
						Berichte
					</ion-card-header>
					<ion-card-content>
						<p>Vorkommnisse: {{consiteProv.getNumEvents()}}</p>
					</ion-card-content>
				</ion-card> <!--}}}-->
			</ion-col>
			<ion-col>
				<ion-card (click)="openShippingPage()"> <!--CARD: VERSAND{{{-->
					<ion-card-header>
						Versand	
					</ion-card-header>
					<ion-card-content>
					</ion-card-content>
				</ion-card> <!--}}}-->
			</ion-col>

		</ion-row>
	</ion-grid>

	</ion-content>
