page-constructionsite-overview {
	.grid-header{

	}

	.grid-cards{
		flex: 0 0 50%;
		max-width: 100%;
// 		padding: 5px 0;
	}

	ion-card{
//     display: flex;
//     flex-direction: column;
// //     width: 100% !important;
// 		margin: 0 5px;
// 		width: calc(100% - 10px);
	 min-width:200px;
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
	 border: 1px solid color($colors, tertiary);
  }

  .card_header {
    display: flex;
    flex-direction: column;
// 	 justify-content: center;
// 	 align-items:center;
// 	 text-align:center;
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
	 border: 1px solid color($colors, tertiary);
  }
  .col_header {
	  display: flex;
	  justify-content: left;
	  align-items: center;
  }

}
