page-constructionsite-overview {
	ion-card{
    display: flex;
    flex-direction: column;
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
	 border: 1px solid color($colors, tertiary);
  }

}
