<!--
  Generated template for the ConstructionsiteTimerecordingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar>
	  <ion-title>Personal Baustelle {{consiteProv.constructionsite.name}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
	<ion-list>
		<!--
		<ion-list-header>
			Personal	
	  </ion-list-header>
		-->
		<!--
		<button ion-item *ngFor="let worker of consiteProv.getWorkerTeamMembers()"
				  (click)="itemSelected(worker)">
			<p> <b>{{worker.getRoleStr()}}</b></p>
			<p>{{ worker.name }}, {{worker.surname}}
			<p>Tel: {{ worker.phoneNr}}, Email: {{worker.email}}</p>
		</button>  
		-->
		<ion-item>
			<ion-grid item-content>
				<ion-row nowrap>
					<ion-col col-3>
						<p>Name</p>
					</ion-col>

					<ion-col col-1>
						<p> Anw</p>
					</ion-col>

					<ion-col>
						<p>von</p>
					</ion-col>
					<ion-col>
						<p>bis</p>
					</ion-col>

				</ion-row>
			</ion-grid>

		</ion-item>
		<ion-item *ngFor="let worker of consiteProv.getWorkerTeamMembers()">
			<ion-label>{{ worker.name }}</ion-label>
			<ion-grid item-content>
				<ion-row nowrap>
					<ion-col col-3>
						<p>{{ worker.name }}, {{ worker.surname }}</p>
					</ion-col>

					<ion-col col-1>
						<ion-checkbox [(ngModel)]="worker.isPresent"></ion-checkbox>
					</ion-col>

					<ion-col>
						<ion-select [(ngModel)]="worker.timeWorkStart" [disabled]="!worker.isPresent"
							class="myCustomSelect" (click)="onSelectClicked()">
							<ion-option *ngFor="let timeStr of worktimeStartSelect" [value]="timeStr">{{timeStr}}</ion-option>
						</ion-select>
					</ion-col>

					<ion-col>
						<ion-select [(ngModel)]="worker.timeWorkEnd" [disabled]="!worker.isPresent" class="myCustomSelect"  (click)="onSelectClicked()">
							<ion-option *ngFor="let timeStr of worktimeEndSelect" [value]="timeStr">{{timeStr}}</ion-option>
						</ion-select>
					</ion-col>

				</ion-row>
			</ion-grid>
		</ion-item>
	</ion-list>

</ion-content>
