<!--
  Generated template for the ConstructionsiteEquipmentDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
	  <ion-title>Gerät Detailansicht</ion-title>
	  <!--
	  <ion-title>{{item.name}}</ion-title>
	  -->
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-list>
		<ion-list-header>
			Übersicht
		</ion-list-header>
		<ion-item>
			Name: {{item.name}}
		</ion-item>  
		<ion-item>
			Nr: {{item.id}}
		</ion-item>  
		<ion-item>
			Kategorie: {{item.getCategoryStr()}}
		</ion-item>  
	</ion-list>

	<ion-list>
		<ion-list-header>
			Schadensberichte: {{item.getNumDamageReports()}}
		</ion-list-header>
		<ion-item *ngFor="let report of item.getDamageReports()" (click)="viewDamageReport(report)">
			{{report.title}}, {{report.author}} - {{report.getTimestampLocal()}}
			<ion-icon name="checkmark" item-right *ngIf="item.isUploaded"></ion-icon>	
		</ion-item>  
	</ion-list>

	<button ion-button large (click)="openReportDamagePage(item)">
		Neue Schadensmeldung
	</button>

</ion-content>
